<a href="/">
	<div class="profile_picture"></div>
	<h1>Felipe Martín</h1>
</a>
<div class="slogan hide-mobile">
	Be incomprehensible.<br />
	If they can't understand, <br />
	they can't disagree.
</div>
<div class="social">
	<a href="http://twitter.com/{{ site.twitter_user }}">
		<div class="button twitter">
			<span class="icon-twitter"></span>
		</div>
	</a>
	<a href="http://www.linkedin.com/in/{{ site.linkedin_user }}">
		<div class="button linkedin">
			<span class="icon-linkedin"></span>
		</div>
	</a>
	<a href="http://last.fm/user/{{ site.lastfm_user }}">
		<div class="button lastfm">
			<span class="icon-lastfm"></span>
		</div>
	</a>
	<a href="http://github.com/{{ site.github_user }}">
		<div class="button github">
			<span class="icon-github"></span>
		</div>
	</a>
	<a href="mailto:{{ site.contact_email }}">
		<div class="button email">
			<span class="icon-envelope"></span>
		</div>
	</a>
	<a href="{{ site.subscribe_rss }}">
		<div class="button rss">
			<span class="icon-rss"></span>
		</div>
	</a>
</div>
<!--
<div class="links">
	<a href="http://fmartingr.github.com/">
		<div class="button auto github">
			<span class="icon-github"></span> Github projects
		</div>
	</a>
</div>
-->
